@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";

$font-sizes: map-merge(
                $font-sizes,
                (
                        "h1-row": 70px,
                        "h2-row": 25px
                )
);

$border-widths: map-merge(
                $border-widths,
                (
                        "btn-border-radius": 25px,
                        "cards-border-radius": 20px
                )
);

$btn-width: 170px;
$cards-margin: 20px;

body {
  background-color: $black;
}

.design {
  color: $gray-600;
}

.first-row {
  font-size: map-get($font-sizes, h1-row);
}

.second-row {
  font-size: map-get($font-sizes, h2-row);
}

#main-button {
  border-radius: map-get($border-widths, btn-border-radius);
  width: $btn-width;
}

#card1,#card2,#card3 {
  border-radius: map-get($border-widths, cards-border-radius);
}

#border-fix1,#border-fix2 {
  border-radius: map-get($border-widths, cards-border-radius);
}

#card2 {
  margin-left: $cards-margin;
  margin-right: $cards-margin;
}