@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$primary: red;
$border-width: 10px;

$theme-colors: map-merge(
                $theme-colors,
                (
                        "karel": purple
                )
);

@import "node_modules/bootstrap/scss/bootstrap";